{% extends 'base.html' %}
{% block content %}
<div>
    <h1 class="Title">TdotScrape</h1>
</div>
<div class="container">
    <div class="row">
        {% for (name, venue) in data.items(): %}
            <div class="col-xl-4 col-lg-6 d-flex flex-column">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h3 class="card-title venue-title">{{name}}

                            <button class="btn card-toggler d-xl-none" data-bs-target="#collapse-{{name}}" data-bs-toggle="collapse" type="button">
                                <i class="fa-solid fa-bars hamburg"></i>
                            </button>
                                </h3>

                        </div>
                        <ul class="list-group list-group-flush scroll-card">
                            {% for event in venue: %}
                                <div class="card-body event-card collapse d-xl-block" id="collapse-{{name}}">
                                <li class="list-group-item">
                                    <span class="event-info event-title">{{event['title']}}</span><br>
                                    {% if event['link'] != ' ' %}
                                    <span class="event-info event-link"><a href="{{event['link']}}">Link to Event</a></span><br>
                                    {% endif %}
                                    <span class="event-info event-date">{{event['dates']}}</span><br>
                                    <span class="event-info event-type">{{event['type']}}</span>
                                </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}